/* Styles */
* {
  box-sizing: border-box;
}
nav,
footer {
  background-color: white;
  font-family: "Noto Sans JP";
}

body {
  font-family: "Open Sans Condensed";
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  margin-left: 15px;
  padding: 10px;
  font-weight: bolder;
  text-shadow: 1px 2px #555555;
}

/* Commons */
h2 {
  font-family: "Noto Sans JP";
  text-shadow: 1px 2px #555555;
  text-transform: uppercase;
  font-size: 35px;
}

p {
  font-size: 25px;
  padding: 15px;
}

.flex {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}
.group {
  flex: 1;
  margin: auto;
  padding: 3px;
  text-align: justify;
  text-justify: inter-word;
  margin-left: 5px;
}
.group img {
  width: 100%;
  border-radius: 5px;
  padding: 1px;
}
#white-border,
#white-border2 {
  border: 2px solid white;
}
#rose,
#rose2 {
  margin: 30px;
}
/* Horizontal ruler */
hr {
  width: 100px;
}
/* Nav style */
nav img {
  width: 100px;
  margin: 10px;
}
nav img a {
  display: inline-flex;
}
.navBar-links {
  height: 100%;
}

.navBar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.navBar-links ul {
  cursor: pointer;
  display: flex;
  margin: 8px;
  padding: 0;
}

.navBar-links li {
  list-style: none;
}

.navBar-links li a {
  display: block;
  border: 2px solid black;
  color: black;
  border-radius: 3px;
  margin: 10px;
  text-decoration: none;
  padding: 8px;
}

.navBar-links li:hover {
  border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
}
.navBar-links li a:hover,
h1:hover {
  border: 2px solid #ff008a;
  box-shadow: 3px 7px 1px #ff008a;
  text-shadow: 1px 1px #555555;
  color: black;
  cursor: pointer;
}
.navBar-links li a:hover {
  font-size: 30px;
}

.hamIcon {
  position: absolute;
  top: 35px;
  right: 9px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 21px;
}

.hamIcon .line {
  height: 3px;
  width: 100%;
  background-color: #ff008a;
  border-radius: 20px;
}

/* Rule for my nav -Ham menu */
@media (max-width: 700px) {
  .navBar {
    flex-direction: column;
    align-items: flex-start;
  }
  .hamIcon {
    display: flex;
  }

  .navBar-links {
    display: none;
    width: 100%;
  }

  .navBar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navBar-links ul li {
    text-align: center;
  }

  .navBar-links ul li a {
    padding: 8px 7px;
  }

  .navBar-links.active {
    display: flex;
  }
}

/* Banner */
.container img {
  background-color: white;
  animation-name: myname;
  animation-duration: 4s;
  width: 100%;
  opacity: 80%;
  height: 500px;
}
.container {
  position: relative;
  text-align: center;
}
@keyframes myname {
  0% {
    background-color: rgb(250, 250, 250);
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: black;
    left: 200px;
    top: 200px;
  }
  50% {
    background-color: rgb(250, 250, 250);
    left: 0px;
    top: 0px;
  }
}

/* Centered Text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}
.centered h2 {
  font-size: 23px;
  font-family: "Bad Script";
  font-weight: lighter;
  text-shadow: none;
  text-transform: none;
}
.centered h4 {
  font-family: "Bad Script";

  font-weight: lighter;
  font-size: 14px;
}

/* About Me */
#my-image img {
  border-radius: 50%;
  width: 300px;
  margin-top: 50px;
}

#text {
  text-align: justify;
  text-justify: inter-word;
}
#aboutme h2 {
  text-shadow: 1px 2px #817878;
}
.intro {
  margin: 40px;
}
.intro h2,
.objectme h2 {
  text-transform: none;
}
.objectme,
footer {
  padding: 3px;
  background-color: #ff008a;
  color: white;
  margin: 30px 0 30px 0;
}

/* Porfolio */
#portfolio section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: white;
}
#portfolio section:nth-child(odd),
#portfolio .group a:hover {
  background-color: #ff008a;
  color: white;
}
.group a:hover {
  font-size: 29px;
}

.group #apptitle,
#apptitle2,
#apptitle3,
#apptitle4 {
  font-size: 40px;
}

#portfolio h3 {
  padding: 10px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  margin-bottom: 20px;
  color: black;
  text-align: center;
}
.mySlides2 .text,
.mySlides4 .text {
  color: white;
}

.dot,
.dots2,
.dots3,
.dots4 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active #dots,
.active #dots2,
.dots:hover,
.dots2:hover,
.dots3:hover,
.active #dots4,
.dots4:hover,
.active #dots4 {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#portfolio .group a,
#services a,
#github-link {
  text-decoration: none;
  font-weight: bolder;
  border: 2px solid #ff008a;
  padding: 6px;
  color: black;
  text-transform: uppercase;
}
#mini-github {
  width: 40px;
  margin: 4px;
  margin-top: 50px;
}
#portfolio #white a,
#portfolio #white2 a {
  color: white;
  border: 2px solid white;
}
#portfolio #white a:hover,
#portfolio #white2 a:hover {
  background-color: white;
  color: #ff008a;
}
#services a:hover,
#contact button:hover,
button[type="submit"],
#github-link:hover {
  background-color: #ff008a;
  color: white;
}

#services a {
  color: #ff008a;
}
#services a:hover {
  font-size: 30px;
}
button[type="submit"]:hover {
  font-size: 40px;
  box-shadow: 2px 6px black;
  font-weight: bolder;
}

.group2 .group #white,
.group #white2,
#portfolio #links,
#portfolio #links2 {
  margin: 35px;
}
#contact img {
  width: 50px;
}
#contact img:hover {
  width: 53%;
}
#contact .flex {
  justify-content: center;
  text-align: none;
}
/* Tech Stack */

.tech-tools {
  margin: 30px;
}

#tech-tools .flex-row {
  flex-direction: column;
}
#tech-tools .flex-row .group {
  justify-content: center;
  margin: 0;
  text-align: center;
}

#tech-tools .flex-row img {
  width: 70px;
  margin: 15px;
}

/*Services Provided */
#services ul li {
  list-style: none;
  padding: 10px;
  margin: 25px;
  font-size: 22px;
  font-weight: bolder;
}

.resume {
  margin: 30px;
}
/* Contact */
#contact .flex {
  flex-direction: row;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

label,
button,
legend {
  text-transform: uppercase;
}
button {
  font-size: 30px;
}

#contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

fieldset {
  padding: 40px;
  margin: 30px;
}
#contact .group2 {
  flex: 1;
}
legend {
  font-weight: bolder;
}

/* Footer */
footer {
  margin-top: 30px;
  margin: 0;
  padding: 15px;
}
.footer2 {
  visibility: hidden;
}
/* Desktop */
@media (min-width: 800px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 45px;
  }
  p,
  a,
  legend,
  label {
    font-size: 25px;
    padding: 3px;
  }

  .centered h2 {
    font-size: 60px;
  }
  .centered h4 {
    font-size: 30px;
  }
  .flex {
    flex-direction: row;
  }
  #my-image img {
    width: 500px;
  }
  .container img {
    height: auto;
  }
  .group #white,
  .group #white2,
  #portfolio #links,
  #portfolio #links2 {
    margin: 90px;
  }
  #tech-tools .flex-row {
    flex-direction: row;
  }
  #tech-tools .flex-row img {
    margin: 35px;
    width: 55%;
  }
  #app-description,
  #app-description2,
  #app-description3,
  #app-description4 {
    font-size: 30px;
  }
}
