* {
  box-sizing: border-box;
}

/* nav style */
nav img {
  width: 100px;
  margin: 10px;
}
nav img a {
  display: inline-flex;
}
.navBar-links {
  height: 100%;
}

.navBar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.navBar-links ul {
  cursor: pointer;
  display: flex;
  margin: 8px;
  padding: 0;
}

.navBar-links li {
  list-style: none;
}

.navBar-links li a {
  display: block;
  text-decoration: none;
  color: #89059b;
  padding: 8px;
}

.navBar-links li:hover {
  color: #9a07b8;
  font-weight: bold;
}

.hamIcon {
  position: absolute;
  top: 19px;
  right: 9px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 21px;
}

.hamIcon .line {
  height: 3px;
  width: 100%;
  background-color: purple;
  border-radius: 20px;
}

/* Rule for my nav -Ham menu */
@media (max-width: 700px) {
  .navBar {
    flex-direction: column;
    align-items: flex-start;
  }
  .hamIcon {
    display: flex;
  }

  .navBar-links {
    display: none;
    width: 100%;
  }

  .navBar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navBar-links ul li {
    text-align: center;
  }

  .navBar-links ul li a {
    padding: 8px 7px;
  }

  .navBar-links.active {
    display: flex;
  }
}
