@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Quicksand";
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  text-align: center;
}
h1,
.centered p {
  font-size: 40px;
  background-color: black;
  padding: 3%;
  border-radius: 6px;
  width: max-content;
}
.centered p {
  font-size: 15px;
  background-color: pink;
  color: black;
  padding: 1%;
}
/* nav style */
nav img {
  width: 100px;
  margin: 10px;
}
nav img a {
  display: inline-flex;
}
.navBar-links {
  height: 100%;
}

.navBar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.navBar-links ul {
  cursor: pointer;
  display: flex;
  margin: 8px;
  padding: 0;
}

.navBar-links li {
  list-style: none;
}

.navBar-links li a {
  display: block;
  background-color: #ff008a;
  border-radius: 3px;
  margin: 10px;
  text-decoration: none;
  color: white;
  padding: 8px;
}

.navBar-links li:hover {
  background-color: pink;
  border-radius: 3px;
  font-weight: bold;
}

.hamIcon {
  position: absolute;
  top: 30px;
  right: 9px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 21px;
}

.hamIcon .line {
  height: 3px;
  width: 100%;
  background-color: #ff008a;
  border-radius: 20px;
}
/* Home */
.home {
  width: 100%;
  opacity: 60%;
  height: 600px;
}
.home:hover {
  opacity: 100%;
}
.container {
  position: relative;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white {
  background-color: white;
  color: black;
}
.white h2 {
  background-color: #ff008a;
  border-radius: 3px;
  color: white;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Rule for my nav -Ham menu */
@media (max-width: 700px) {
  .navBar {
    flex-direction: column;
    align-items: flex-start;
  }
  .hamIcon {
    display: flex;
  }

  .navBar-links {
    display: none;
    width: 100%;
  }

  .navBar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navBar-links ul li {
    text-align: center;
  }

  .navBar-links ul li a {
    padding: 8px 7px;
  }

  .navBar-links.active {
    display: flex;
  }
}
